@import "variables.less";
@import "mqs/baseline.less";
@import "mqs/small.less";
@import "mqs/medium.less";
@import "mqs/large.less";


.harvest-baseline;

.harvest-small;

@media screen and (min-width:40.063em) {
	.harvest-medium;
}

@media screen and (min-width:64.063em) {
	.harvest-large;
}

/*
	Structure
*/

/*
	Services
*/

#services {
	h3 {
		margin: 2rem 1rem;
		min-height: 4.5rem;
	}
}

/*
	About parrallax
*/

#about {
	display: block;
	padding-top: 40rem;
	background: transparent url(../img/photo.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	
	.content {
		overflow: hidden;
		background: rgba(36, 39, 52, .8);
	}
	
	.row {
		margin: 10rem auto 30rem;
	}
	
}