html,
body {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
h1.red,
h2.red,
h3.red,
h4.red,
h5.red,
h6.red {
  color: #db0fab;
}
h1.green,
h2.green,
h3.green,
h4.green,
h5.green,
h6.green {
  color: #08e495;
}
h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
  color: #09aee1;
}
h1,
h2 {
  font-weight: 300;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
em {
  font-weight: 600;
  font-style: normal;
}
strong {
  font-weight: 700;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
html,
body,
#page {
  background: #242734;
  color: #ffffff;
}
.ir {
  display: block;
  overflow: hidden;
  text-indent: -5000em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
h1.brand.ir {
  background-image: url(../img/logo@2x.png);
  background-size: contain;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
}
header {
  text-align: center;
}
header h1,
header h2 {
  display: inline-block;
  padding: 1rem 0.5rem;
  margin: 2rem 0 2rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
header.red h1,
header.red h2 {
  color: #db0fab;
}
header.blue h1,
header.blue h2 {
  color: #09aee1;
}
header.green h1,
header.green h2 {
  color: #08e495;
}
#topNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  z-index: 999;
  background: #282e4d;
}
#rightBurger {
  display: block;
  height: 44px;
  width: 44px;
  color: #fff;
  text-decoration: none;
  line-height: 44px;
  text-align: center;
  font-size: 24px;
  background: #1d2139;
}
#rightBurger:hover {
  background: #3f487d;
}
#rightBurger:active {
  background: #000000;
}
.sidebarRight {
  background: #1a1c25 url(../img/logo.png) no-repeat center 90%;
  background-size: 150px;
}
.sidebarRight .shutRight {
  text-decoration: none;
  font-size: 32px;
  color: #db0fab;
  line-height: 44px;
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  top: 5px;
  right: 5px!important;
}
.sidebarRight .shutRight:hover {
  color: #f12cc2;
}
.sidebarRight ul {
  margin: 0;
  padding: 0 0;
  list-style: none;
}
.sidebarRight ul li {
  padding: 1rem 1rem 0;
}
.sidebarRight ul label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.sidebarRight ul a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.sidebarRight ul a.green {
  color: #08e495;
}
.sidebarRight ul a.green:hover {
  color: #59f9c0;
}
.sidebarRight ul a.blue {
  color: #09aee1;
}
.sidebarRight ul a.blue:hover {
  color: #58d2f8;
}
.sidebarRight ul a.red {
  color: #db0fab;
}
.sidebarRight ul a.red:hover {
  color: #f45cd0;
}
.icon {
  display: block;
  min-height: 46px;
  background-size: contain;
  text-indent: -5000em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.icon.brain {
  background-image: url(../img/icon-brain@2x.png);
}
.icon.eyes-ears {
  background-image: url(../img/icon-eyesears@2x.png);
}
.icon.lips {
  background-image: url(../img/icon-lips@2x.png);
}
.icon.phone,
.icon.mail {
  vertical-align: middle;
  width: 68px;
  display: inline-block;
  margin: 0 1rem;
}
.icon.phone {
  background-image: url(../img/icon-phone@2x.png);
}
.icon.mail {
  background-image: url(../img/icon-mail@2x.png);
}
#gmap {
  width: 100%;
  min-height: 480px;
  background: #000;
}
#intro header {
  margin-bottom: 2rem;
}
#services h3 {
  margin: 2rem 0;
}
#services .icon {
  margin-top: 1rem;
}
#services ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}
#services ul li {
  padding-left: 1em;
  text-indent: -0.7em;
}
#services ul li:before {
  content: "•";
  font-family: Arial;
  color: #db0fab;
  font-size: 24px;
  line-height: 1;
  padding-right: 10px;
  position: relative;
  top: 3px;
}
#services ul li ul {
  margin: 0;
}
#services ul li ul li:before {
  color: #08e495;
}
#about strong,
#about a {
  color: #db0fab;
  font-weight: 700;
}
#about .content {
  background: rgba(36, 39, 52, 0.8);
  margin-top: -4rem;
  position: relative;
}
#contact {
  padding-bottom: 2rem;
}
#contact a {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
#contact h4 {
  text-transform: none;
  font-size: 1.8rem;
  margin: 1rem 0 1.4rem;
}
#contact .phone a {
  color: #08e495;
}
#contact .email a {
  color: #09aee1;
  border-bottom: 2px solid;
}
#contact .email a:hover {
  border-bottom-color: transparent;
}
@media screen and (min-width: 40.063em) {
  #top {
    background: transparent url(../img/brand-bg.jpg) no-repeat center top;
    background-size: contain;
  }
  #top .brand {
    margin: 4rem 0 0;
    height: 320px;
  }
  #intro,
  #about {
    padding: 5rem 0 8rem;
  }
  #intro header,
  #about header {
    margin-bottom: 4rem;
  }
  #intro {
    background: transparent url(../img/green-glow.jpg) no-repeat center top;
  }
  #intro header {
    text-shadow: 0 0 10px #08e495;
  }
  #services header {
    background: transparent url(../img/services-bg.jpg) no-repeat center center;
    background-size: contain;
    padding: 5rem 0 5rem;
  }
  #services h3 {
    margin: 2rem 1rem;
  }
  #about .content {
    margin-top: -8rem;
  }
  #about .content header {
    margin: 3rem 0;
  }
  #contact {
    background: transparent url(../img/x@2x.png) no-repeat center 10rem;
    background-size: 149px 149px;
  }
  #contact .map {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 64.063em) {
  #top .brand {
    margin: 8rem 0 4rem;
    height: 400px;
  }
}
