html,
body {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
h1.red,
h2.red,
h3.red,
h4.red,
h5.red,
h6.red {
  color: #db0fab;
}
h1.green,
h2.green,
h3.green,
h4.green,
h5.green,
h6.green {
  color: #08e495;
}
h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
  color: #09aee1;
}
h1,
h2 {
  font-weight: 300;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
em {
  font-weight: 600;
}
strong {
  font-weight: 700;
}
html,
body {
  background: #242734;
  color: #ffffff;
}
.ir {
  display: block;
  overflow: hidden;
  text-indent: -5000em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
h1.brand.ir {
  background-image: url(../img/logo@2x.png);
  background-size: contain;
  height: 400px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: none;
}
header {
  text-align: center;
}
header h1,
header h2 {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 2rem 0 4rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
header.red h1,
header.red h2 {
  color: #db0fab;
}
header.blue h1,
header.blue h2 {
  color: #09aee1;
}
header.green h1,
header.green h2 {
  color: #08e495;
}
nav.tab-bar {
  background: #282e4d;
}
.move-left .exit-off-canvas {
  background: rgba(0, 0, 0, 0.2);
}
.move-left .exit-off-canvas:hover {
  background: rgba(0, 0, 0, 0);
}
.right-off-canvas-menu {
  background: #242734;
}
.right-off-canvas-menu ul.off-canvas-list li label {
  background: #20222e;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
/*
	Structure
*/
/*
	Services
*/
#services h3 {
  margin: 2rem 1rem;
  min-height: 4.5rem;
}
/*
	About parrallax
*/
#about {
  display: block;
  padding-top: 40rem;
  background: transparent url(../img/photo.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
#about .content {
  overflow: hidden;
  background: rgba(36, 39, 52, 0.8);
}
#about .row {
  margin: 10rem auto 30rem;
}
